<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.project.Dao.MenuDao">
  <select id="menu_List" resultType="com.test.project.Dto.MenuBean">
    SELECT 
      `menu_no`,
      `menu_nm`,
      `menu_code1`,
      `menu_code2`,
      `menu_href`,
       `menu_icon` 
   
  FROM `tb_menu`
  WHERE menu_code2=0
  </select>
  <select id="menu_SubList" resultType="com.test.project.Dto.MenuBean">
	SELECT 
	    `menu_no`,
	    `menu_nm`,
	    `menu_code1`,
	    `menu_code2`,
	     concat(menu_href,'&amp;Kind1=',menu_code1,'&amp;Kind2=',menu_code2) menu_href
	   
	FROM `tb_menu`
	WHERE menu_code2 !=0
  </select>
   <select id="menu_Title" resultType="String">
	SELECT 
	     concat(fn_menuTitle(#{Kind1}),'/',menu_nm,'/') menu_title
	FROM `tb_menu`
	WHERE menu_code1 = #{Kind1} and menu_code2 = #{Kind2} 
  </select>
  <insert id="Menu_SubInsertOk" parameterType="Hashmap">
  INSERT INTO 
  tb_menu(
	menu_nm,
    menu_code1, 
    menu_code2,
    `menu_icon`
   )
  VALUES(
	  #{bean.menu_nm}, 
	  #{bean.menu_code1}, 
	  fn_menuMax(#{bean.menu_code1}),
	  ''
  );
  </insert>
<delete id="Menu_Delete" parameterType="Hashmap">
	DELETE FROM tb_menu
	WHERE 
	<if test="bean.menu_code1 !='empty' ">
	 menu_code1=#{bean.menu_code1}
	</if>
	<if test="bean.menu_code1 =='empty'">
	 menu_no=${bean.menu_no};
	</if>
</delete>
<insert id="Menu_Insert" parameterType="Hashmap"
	       >
		INSERT INTO `tb_menu`
		(
            `menu_nm`,
            `menu_code1`,
            `menu_code2`,
            `menu_icon`,
            `menu_href`
      
		)
		VALUES
      <foreach collection="list" item="item" separator=" , ">
		(
			#{item.menu_nm},    
			#{item.menu_code1},          
			'0',      
			#{item.menu_icon},         
			'test'
    	)
  	</foreach>
  	ON DUPLICATE KEY UPDATE menu_nm = values(menu_nm) ,menu_code1=values(menu_code1),menu_icon=values(menu_icon)
  </insert>
</mapper>